button{
    background-color: #3882f6;
    color: white;
    height: 45px;
    width: 150px;
    border-radius: 8px;
    border-color: #3882f6;
    font-family: sans-serif;
    font-weight: bold;
}

.header-logo, .left-side-content{
    padding-left: 250px;
    
}
.header-links, .right-side-content{
    padding-right: 250px;
}


.header, .footer, .content {
    background-color: #1F2937;
}

.header{
    display: flex;
    justify-content: space-between;
    /**position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;**/
    
}

.header-logo{
    display:flex;
    color: #f9faf8;
    font-family: sans-serif;
    font-size: 48px;
    font-weight: bold;
    
}

.header-links{
    display: flex;
    list-style: none;
    font-size: 24px;
    align-items: center;
}

.header-links li{
    padding-right:20px;
    
}

.header-links a{
    text-decoration: none;
    color: #F9FAF8;
    font-family: sans-serif;
    
}

/**-----------------------------------------------------------**/
.content {
    display: flex;
    justify-content:space-between;
    padding-top: 50px;
    height: 500px;
}
.left-side-content, .right-side-content{
    flex: 1;
    /**Made it so the containers took up equal space width-wise**/
}
.left-side-content{
    display:flex;
    flex-direction: column;
    font-family: sans-serif;
    color: #f9faf8;

}
.left-side-content h3{
    font-weight: bold;
    font-size: 72px;
    margin-bottom: 0;
}
.left-side-content p{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
}
.left-side-content button{
    margin-top: 10px;
}

.right-side-content{
    display: flex;
    align-items: center;
    
}
.empty-image{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb7e;
    height: 291px;
    width: 1119px;   
}
.right-side-content p{
    color: #f9faf8;
    font-family: sans-serif;
}
/**-------------------------------------------------------------**/
.random-information{
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f9faf8;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 90px;

}
.random-information p{
    color: #1F2937;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 48px;
}
.random-information img{
    height: 400px;
    width: 400px;
    border: 8px solid;
    border-color: #3882f6;
    border-radius: 16px;
}
.random-information ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: center;
}
.random-information li{
    color: #1F2937;
    font-family: sans-serif;
    text-align: center;
    padding-left: 35px;
    padding-right: 35px;
}
/**-------------------------------------------------------------**/
.quote{
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    padding: 100px 400px 100px 400px;

}
.full-quote{
    font-family: sans-serif;
    font-style: italic;
    font-size: 36px;
    color: #1f2937;
    margin-bottom: 0;
}
.quote-credit{
    color: #1f2937;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    margin-top: 0;
}
/**-------------------------------------------------------------**/
.sign-up-space{
    display: flex;
    background-color: #f9faf8;
    /**padding: 200px 400px 200px 400px;**/
    justify-content: center;
}
.call-to-action{
    display: flex;
    flex: 1;
    justify-content: space-between;
    border-radius: 8px;
    height:225px;
    margin: 75px 400px 75px 400px;
    background-color: #3882f6;
}
.cta-text{
    display: flex;
    flex: 1;
    flex-direction: column;
    /**align-items: center;**/
    padding-left: 120px;
    padding-top: 12px;
    color:#f9faf8;
    font-family: sans-serif;
}

.p1{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 32px;
}
.p2{
    margin-top: 0;
    font-weight: 200;
}
.cta-button{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.call-to-action button{
    border-color: #f9faf8;
    height:60px;
    width: 215px;
    font-size: 23px;
}